<!doctype html>
<html>
    <head>
        <title>Socket.IO Example</title>
    </head>
    <body>
        <center>
            <h1>Clients Connected <b id="client"></b></h1>


                <input name="user" id='user' placeholder="user" type="text" required><br>
                <input name="sid" id='ssid' placeholder="sid" type="hidden" required><br>
                <select name="room" id="room"><br>
                        <option value="Room1">Room 1</option>
                        <option value="Room2">Room 2</option>
                        <option value="all">All</option>
                    </select><br><br>
                <input type="button" onclick="home()" value="Reg">


        </center>

        <script src="/socket.io/socket.io.js"></script>
        <script>

                var socket = io();

                socket.on('connect', function() {
                            console.log(socket.id);
                            document.getElementById('ssid').value = socket.id;
                        });


                socket.on('stats', function(data) {
                    console.log('Connected clients:', data.numClients);
                    document.getElementById('client').innerHTML = data.numClients;
                });

                function home(){
                    var a = document.getElementById('user').value;
                    var room = document.getElementById('room').value;
                    var sid = document.getElementById('ssid').value;
                    document.cookie = `username=${a}`; 
                    document.cookie = `room=${room}`; 
                    window.location='/ping/'+a+'/'+sid+"/"+room;                  
                }







        </script>
    </body>
</html>